main[data-v-c1f1971a]{display:flex;justify-content:center;align-items:center}main .inner[data-v-c1f1971a]{width:80%;max-width:750px;border:1px solid rgba(0,0,0,0.3);padding:20px;box-sizing:border-box}main h3[data-v-c1f1971a]{border-bottom:1px solid rgba(0,0,0,0.3);padding:10px 0 15px;margin-bottom:20px}main li[data-v-c1f1971a]{padding:10px 0}

