.bible[data-v-5a7b936e]{padding:16px}.verse[data-v-5a7b936e]{position:relative}.index[data-v-5a7b936e]{position:absolute;top:0;left:0;width:25px;display:inline-block;text-align:center;font-weight:700}.text[data-v-5a7b936e]{display:inline-block;padding-left:32px}

